// @import './tableStyle.scss';
$appColor:#333;
#app{
  color:$appColor;
}

.clear{
  clear: both;
}

body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #333;
}

.page_body {
  padding-top: 88px;
}

ul, ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}
