.dialogStyle {
    .item-input {
        width: 250px;
        height: 32px;
        background: #FFFFFF;
        opacity: 1;
        border-radius: 4px;
    }

    /deep/.el-dialog__footer {
        padding: 0;
      }
    
    .dialog-footer {
        width: 100%;
        height: 52px;
        background: #F5F6FA;
        padding: 0;
        display: flex;

        .el-button--text {
            color: #43425D !important;
        }

        .popBtn {
            flex: 1;
            position: relative;

            &:last-child{
                color: #6289FE !important;
            }

            &:last-child::before{
                content: '';
                display: inline-block;
                width: 1px;
                height: 16px;
                background: #D7DAE2;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -8px;
            }
        }
    }
}